    table {
        width: 100%;
        border-top-style: solid;
        border-top-width: 0.001vw;
    }
    
    mat-divider,
    mat-form-field {
        margin: 1vw;
    }
    
    .mat-footer-cell {
        font-style: italic;
        font-weight: bold;
    }
    
    .modal-header,
    .modal-footer {
        background-color: #033147;
        color: #fff;
    }